<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title></title>
</head>

<body>
    <div class="container mt-2">
        Name: <%= process['name'] ? process['name'] : '<N/A>' %><br>
            State: <b>
                <%= process['state'] %>
            </b><br>
            Description: <%= process['description'] ? process['description'] : '<N/A>' %><br>
                <% if (process['socket']) { %>
                    Socket: <a href="<%= process['socket'] %>" target="_blank">
                        <%= process['socket'] %>
                    </a><br>
                    <% } %>
                        <% if (process['logfile']) { %>
                            Logfile: <a href="<%= process['logfile'] %>" target="_blank">
                                <%= process['logfile'] %>
                            </a><br>
                            <% } %>
                                <% if (process['result']) { %>
                                    Result: <%- process['result'] %>
                                        <% } %>
    </div>
</body>

</html>